/* categories */
  
  .category-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 10rem;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  .category-item:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
  }